
@model List<Teacher>;
<!-- Basic Bootstrap Table -->
<div class="card mt-20 mt-lg-5">
    <h5 class="card-header">TReachers Table</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Students</th>

                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var teacher in Model)
                {
                    var students = teacher.Students;
                    <tr>
                        <td>@teacher.Id</td>
                        <td>@teacher.Name</td>
                        <td @* rowspan="@students.Count" *@>
                            @foreach (var s in students)
                            {
                                <ul>
                                    <li>@s.Name</li>
                                </ul>
                            }
                        </td>
                    </tr>
                };

            </tbody>
        </table>
    </div>
</div>